body, html{
    height: 100%;
    background-color: bisque;
}

.card_holder{
    background-color: rgb(253, 242, 224);
    width: 50%;
    height: 60%;
    padding: 0;
}

.card-body {
    background-color: cornsilk;
}

.centered {
    position: fixed;
    top: 25%;
    left: 25%;
}

.btn_submit {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: rgb(233, 122, 122);
    border-color: rgba(224, 108, 108, 0.911); 
    color: white;
}

.btn_submit:hover {
    background-color: rgba(190, 92, 92, 0.911) !important;
    color: white;
}

.btn_answers {
    width: 100%;
    height:70%;
}

.button_container{
    background-color: rgba(250, 106, 130, 0.918);
    height: 3em;
    padding-top: 1em;
    padding-left: 2em;
    margin-bottom: 1em;
    color: white;
}

.card-text{
    height: 3em;
}